<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art and Design</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='art.css') }}">
</head>
<body>
    <nav>
        <ul>
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo">
            <li class="welcome">Welcome to Student Careers</li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>

    <h2>Faculty of Art and Design - Enter Your Matric Results</h2>

    <form method="POST">
        <label for="math">Mathematics/Mathematical Literacy:</label>
        <input type="number" name="math" id="math" min="0" max="100" required>

        <label for="accounting">Dramatic Arts:</label>
        <input type="number" name="accounting" id="accounting" min="0" max="100" required>

        <label for="business_studies">History:</label>
        <input type="number" name="business_studies" id="business_studies" min="0" max="100" required>

        <label for="economics">Economics/Life Science:</label>
        <input type="number" name="economics" id="economics" min="0" max="100" required>

        <label for="english_home">English HL/FAL:</label>
        <input type="number" name="english_home" id="english_home" min="40" max="100" required>

        <label for="life_orientation">Life Orientation:</label>
        <input type="number" name="life_orientation" id="life_orientation" min="50" max="100" required>

        <button type="submit">Check Eligibility</button>
    </form>

    <div class="result">
        {% if eligible_courses %}
            <h3>Your APS: {{ aps }}</h3><br>
            <h3>You qualify for the following courses:</h3>
            <ul>
                {% for course in eligible_courses %}
                    <li>{{ course }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if aps > 0 %}
                <h3>Your APS: {{ aps }}</h3>
                <h3>Unfortunately, you don't qualify for any courses in this faculty.</h3>
            {% else %}
                <h3>Please enter your marks to calculate your APS.</h3>
            {% endif %}
        {% endif %}
    </div>
    

    <footer>
        <p>&copy; 2024 Student Careers. All rights reserved.</p>
    </footer>
</body>
</html>