<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Careers</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <ul>
            <img src="{{url_for('static', filename='images/logo.jpg')}}" width="70" height="70" alt="Logo">
            <li><a href="#">Home</a></li>
            <li><a href="{{url_for('faculties')}}" target="_blank">Faculties</a></li>
            <li><a href="{{url_for('institutions')}}" target="_blank">Institutions</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>
    <h1 style="text-align: center;">Welcome to Student Careers</h1>
    <center>
        <img src="{{url_for('static', filename='images/career.png')}}" width="600" height="500" alt="">
    </center>
    <!-- About Section -->
     <br>
     <hr>
    <section id="about">
        <h2>About Us</h2>
        <p>Welcome to Student Careers! We are dedicated to helping students explore various career paths and providing resources to assist them in their academic journey. Our faculties offer a diverse range of programs tailored to meet the needs of today’s workforce.</p>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Student Careers. All rights reserved.</p>
        <p><a href="#top">Back to top</a></p>
    </footer>
</body>
</html>

